body {
    padding: 0;
    margin: 0;
    background: #fcfcfc;
}
.navbar {
    background: #5B3256;
}
.navbar-collapse {
    justify-content: flex-end;
}
.nav-link,
  .navbar-brand {
    color: #d3d3d3;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;

}