{% extends "base.html" %}

{% block content %}
<div class="content-section">
<div class="form-group border-bottom mb-4">
    <form method="POST" action="/">
    <div class="form-group">{{ form.name.label}}</div>
    <div class="form-group">{{ form.name(class="form-control")}}</div>
    <div class="form-group"> {{ form.content(class="form-control form-control-md") }}</div>
    {{ form.submit(class="mb-2") }}
    </form>
    </div>
</div>


{% endblock content %}